.custom-table{
    margin: 50px;
}

.table-container{
    padding-left: 70px;
    padding-right: 70px;;
}

/* pag competições */

.container-fluid{
    padding-top: 15px;
}

#table-comp{
    padding-bottom: 15px;
}

#coordenadores{
    padding-bottom: 20px;
}

#proposta{
    margin-bottom: 10px;
}
/*-----------------*/


/* pag submissão de trabalhos*/
#first-title{
    padding-top: 80px;
}
/*-----------------*/
.menu-dropdown{
    color: #1B100A;
    cursor: pointer;

}

#dropdown-list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

#center-img{
display: block;
margin-left: auto;
margin-right: auto;
width: 68%;
}



/*---- Pag webnars -----*/

.tutoriais hr{ 
   margin: 0px;
   padding: 0px;
    
}
#tutoriais-img{
    padding-top: 20px;
    padding-left: 20px; 
}

#tutoriais-img img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.tutoriais-text{
    padding-left: 20px;
    text-align: top;
}

.tutoriais-text #nome{
    color: #9195a2;
    margin-bottom: 7px;
}

.tutoriais-text h6{
    margin-bottom: 2px;
}




/* Seção de orientações*/

#link-tutorial{
    padding: 0 0 0 0 !important;
}

/* */
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.body-content{
    padding-bottom: 180px;
}

footer.fixar-rodape{
    background: #ffab62;
    width: 100%;
    height: 180px;
    margin-top: auto;
}

/*@media (min-height: 611px) {
    footer.fixar-rodape{
        background: #ffab62;
        width: 100%;
        height: 180px;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}*/

/*Banner*/

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.banner div a {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    color: white;
}

.banner div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 545px;
    margin: auto;
}

/*.banner .container {
    display: flex;
    flex-direction: row;
}*/

#img-esq {
    width: 75%;
}

#img-centro {
    width: 100%;
}

#img-dir {
    width: 19.75%;
}

/*@media (min-width: 576px) {
    .banner div a {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .banner div a {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .banner div a {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .banner div a {
      max-width: 100%;
    }
  }*/

  .menu-flex{
      display: flex;
      flex-direction: row;

  }

  .div-esq{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      color: white;
      font-size: 14px;
  }