.custom-table{
    margin: 50px;
}

.table-container{
    padding-left: 70px;
    padding-right: 70px;;
}

/* pag competições */

.container-fluid{
    padding-top: 15px;
}

#table-comp{
    padding-bottom: 15px;
}

#coordenadores{
    padding-bottom: 20px;
}

#proposta{
    margin-bottom: 10px;
}
/*-----------------*/


/* pag submissão de trabalhos*/
#first-title{
    padding-top: 80px;
}
/*-----------------*/
.menu-dropdown{
    color: #1B100A;
    cursor: pointer;

}

#dropdown-list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

#center-img{
display: block;
margin-left: auto;
margin-right: auto;
width: 68%;
}



/*---- Pag webnars -----*/

.tutoriais hr{ 
   margin: 0px;
   padding: 0px;
    
}
#tutoriais-img{
    padding-top: 20px;
    padding-left: 20px; 
}

#tutoriais-img img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.tutoriais-text{
    padding-left: 20px;
    text-align: top;
}

.tutoriais-text #nome{
    color: #9195a2;
    margin-bottom: 7px;
}

.tutoriais-text h6{
    margin-bottom: 2px;
}




/* Seção de orientações*/

#link-tutorial{
    padding: 0 0 0 0 !important;
}

/* */
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.body-content{
    padding-bottom: 180px;
}

footer.fixar-rodape{
    background: #192D43;
    width: 100%;
    height: 100%;
    margin-top: auto;
}

/*@media (min-height: 611px) {
    footer.fixar-rodape{
        background: #ffab62;
        width: 100%;
        height: 180px;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}*/

/*Banner*/

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.banner div a {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    color: white;
}

.banner div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 545px;
    margin: auto;
}

/*.banner .container {
    display: flex;
    flex-direction: row;
}*/

#img-esq {
    width: 75%;
}

#img-centro {
    width: 100%;
}

#img-dir {
    width: 19.75%;
}

/*@media (min-width: 576px) {
    .banner div a {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .banner div a {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .banner div a {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .banner div a {
      max-width: 100%;
    }
  }*/

  .menu-flex{
      display: flex;
      flex-direction: row;

  }

  .div-esq{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      color: white;
      font-size: 17px;
  }

  *{
    color: white;
    font-family: 'Courier Prime', monospace;

}
footer {
    background: #192D43;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
  }
  
  footer .container {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    /*margin: 100px 0;*/
  }

  footer .container a, footer .container p{
    margin-left: 20px;
  }
  
footer .endereco{
    display:flex;
    flex-direction: row;
    margin-left: 20px;
}
footer .contato{
    display:flex;
    flex-direction: row;
}
footer .endereco > img{    
    border-radius: 6px;
    display: flex;
    /*padding: 12px;*/
    margin-right: 10px;

}
footer .contato >img{
    border-radius: 6px;
    display: flex;
    padding: 12px;
    height: 30px;
    width: 20px;
    margin-right: 10px;
}
  footer .sobre {
    display: flex;
    flex-direction: column;
  }
  
  footer .logos {
    margin: auto 0;
    justify-content: center;
  }
  
  footer .logos img {
    height: 70px;
    margin: auto 10px;
    width: 70px;
  }
  
  footer .infos {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  
  footer .infos ul {
    list-style: none;
  }

  footer .infos ul h4{
    color: white;
  }
  
  footer .infos li {
    display: flex;
    margin: 14px 0;
    padding: 0;
    width: 370px;
  }
  
  footer .infos li p {
    width: 400px;
  }
  
  footer .infos img {
    width: 25px;
  }
  
  footer .infos a, footer .infos p {
    color: #fff;
    margin: 0;
    margin-left: 20px;
  }
  

  
  footer .infos a {
    text-decoration: none;
  }
  
  footer .sociais ul {
    list-style: none;
  }
  
  footer .sociais li {
    align-items: center;
    display: flex;
    padding: 12px;
    width: 370px;
  }
  
  footer .sociais li a {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: -20px;
    padding: 12px;
    text-decoration: none;
    width: 300px;
  }
  
  footer .sociais img {
    width: 25px;
  }
  
  footer .sociais a, footer .sociais p {
    color: #fff;
    margin-left: 20px;
  }

  
  footer .infos a {
    text-decoration: none;
  }
  

  
  footer .contato img {
    width: 25px;
  }
  
  footer .contato a {
    color: #fff;
    text-decoration: none;
  }