.custom-table{
    margin: 50px;
}

.table-container{
    padding-left: 70px;
    padding-right: 70px;;
}

/* pag competições */

.container-fluid{
    padding-top: 15px;
}

#table-comp{
    padding-bottom: 15px;
}

#coordenadores{
    padding-bottom: 20px;
}

#proposta{
    margin-bottom: 10px;
}
/*-----------------*/


/* pag submissão de trabalhos*/
#first-title{
    padding-top: 80px;
}
/*-----------------*/
.menu-dropdown{
    color: #1B100A;
    cursor: pointer;

}

#dropdown-list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

#center-img{
display: block;
margin-left: auto;
margin-right: auto;
width: 68%;
}



/*---- Pag webnars -----*/

.tutoriais hr{ 
   margin: 0px;
   padding: 0px;
    
}
#tutoriais-img{
    padding-top: 20px;
    padding-left: 20px; 
}

#tutoriais-img img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.tutoriais-text{
    padding-left: 20px;
    text-align: top;
}

.tutoriais-text #nome{
    color: #9195a2;
    margin-bottom: 7px;
}

.tutoriais-text h6{
    margin-bottom: 2px;
}




/* Seção de orientações*/

#link-tutorial{
    padding: 0 0 0 0 !important;
}

/* */
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.body-content{
    padding-bottom: 180px;
}

footer.fixar-rodape{
    background: #192D43;
    width: 100%;
    height: 100%;
    margin-top: auto;
}

/*@media (min-height: 611px) {
    footer.fixar-rodape{
        background: #ffab62;
        width: 100%;
        height: 180px;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}*/

/*Banner*/

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.banner div a {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    color: white;
}

.banner div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 545px;
    margin: auto;
}

/*.banner .container {
    display: flex;
    flex-direction: row;
}*/

#img-esq {
    width: 75%;
}

#img-centro {
    width: 100%;
}

#img-dir {
    width: 19.75%;
}

/*@media (min-width: 576px) {
    .banner div a {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .banner div a {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .banner div a {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .banner div a {
      max-width: 100%;
    }
  }*/

  .menu-flex{
      display: flex;
      flex-direction: row;

  }

  .div-esq{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      color: white;
      font-size: 17px;
  }

  *{
    color: white;
    font-family: 'Courier Prime', monospace;

}
footer {
    background: #192D43;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
  }
  
  footer .container-footer {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    /*margin: 100px 0;*/
  }

  /*footer .container a, footer .container p{
    margin-left: 20px;
  }*/
  
footer .endereco{
    display:flex;
    flex-direction: row;
    /*margin-left: 20px;*/
}
footer .contato{
    display:flex;
    flex-direction: row;
}
footer .endereco > img{    
    border-radius: 6px;
    display: flex;
    /*padding: 12px;*/
    margin-right: 10px;

}
footer .contato >img{
    border-radius: 6px;
    display: flex;
    padding: 12px;
    height: 30px;
    width: 20px;
    margin-right: 10px;
}
  footer .sobre {
    display: flex;
    flex-direction: column;
  }
  
  footer .logos {
    margin: auto 0;
    justify-content: center;
  }
  
  footer .logos img {
    height: 70px;
    margin: auto 10px;
    width: 70px;
  }
  
  footer .infos {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  
  footer .infos ul {
    list-style: none;
  }

  footer .infos ul h4{
    color: white;
  }
  
  footer .infos li {
    display: flex;
    margin: 14px 0;
    padding: 0;
    width: 370px;
  }
  
  footer .infos li p {
    width: 400px;
  }
  
  footer .infos img {
    width: 25px;
  }
  
  footer .infos a, footer .infos p {
    color: #fff;
    margin: 0;
    /*margin-left: 20px;*/
  }
  

  
  footer .infos a {
    text-decoration: none;
  }
  
  footer .sociais ul {
    list-style: none;
  }
  
  footer .sociais li {
    align-items: center;
    display: flex;
    padding: 12px;
    width: 370px;
  }
  
  footer .sociais li a {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: -20px;
    padding: 12px;
    text-decoration: none;
    width: 300px;
  }
  
  footer .sociais img {
    width: 25px;
  }
  
  footer .sociais a, footer .sociais p {
    color: #fff;
    margin-left: 20px;
  }

  
  footer .infos a {
    text-decoration: none;
  }
  

  
  footer .contato img {
    width: 25px;
  }
  
  footer .contato a {
    color: #fff;
    text-decoration: none;
  }

  /* INTEGRANTES */
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  
}

.title h1{
  font-family: 'Basic', sans-serif !important;
  color: #545457;
}

.title .stripe{
  background-color:rgba(30, 213, 253, 0.9);
  height: 3px;
  width: 50px;
  margin-top: 20px;
}

.integrantes{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 30px 10% 30px 10%;
}

.integrantes .tutores{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/*========================
######## Cards ########
=========================*/

.card{
  position: relative;
  width: 240px;
  height: 300px;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
  
}
.integrantes .discentes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}


.discentes .card{
  width: 200px;
  height: 260px;
}

.discentes .card .card-img{
  height: 160px;
  position: relative;
  margin: 0;
}
.discentes .card .card-img .card-btn{
  position: absolute;
  bottom: 10px;
  right: 8px;
  background-color: #01B4ED;
  padding: 5px;
  width: 74px;
  height: 30px;   
  border: 1px solid #01B4ED;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  
}
.discentes .card .job-img{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 44px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 6px;
  bottom: 85px;
  left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card .job-img i{
  font-size: 15px;
}
.card .job-img{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 54px;
  height: 43px;
  background: #FFFFFF;
  border-radius: 6px;
  bottom: 85px;
  left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card .job-img i{
  font-size: 25px;
}
.card .card-img{
  height: 200px;
  position: relative;
  margin: 0;
}
.card .card-img figure{
  height: 100%;
  width: 100% ;
  
  margin: 0;
}
.card .card-img figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.card .card-img .card-btn{
  position: absolute;
  bottom: 10px;
  right: 8px;
  background-color: #01B4ED;
  padding: 5px;
  width: 84px;
  height: 30px;   
  border: 1px solid #01B4ED;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  
}

.card .card-img .card-btn a{
  text-decoration: none;
  color: #fff;
}
.card .card-img .card-btn a i{
  margin-right: 5px;
}
.card .card-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89px;
  text-align: center;
}

.card .card-name h3{
  font-family: 'Basic', sans-serif !important;
  font-size: 25px;
  line-height: 31px;
  color: #0FC3E2;
}
.card .card-name h6{
  font-size: 12px;
  line-height: 15px;  
  color: #B1B1B1;
}

.ex .card img{
  -webkit-filter: grayscale(100%);
}
/*========================
######## Modal ########
=========================*/

.modal{
  
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Basic', sans-serif;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;

}

.modal:target{
  opacity: 1;
  pointer-events: auto;
}

.modal > div{
  width: 600px;
  height: 500px;
  position: relative;
  margin: 5% auto;
  padding: 15px 20px;
  background: #EFEFEF;
  border-radius: 5px;
}
.modal .modal-conteiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}
.modal .modal-figure{
  height: 200px;
  width: 200px;
}

.modal .modal-figure .modal-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.modal .modal-conteiner .modal-text{
  width: 100%;
  margin-left: 50px;
  font-size: 1.2rem;
}
.modal .modal-conteiner .modal-text span{
  font-weight: 400;
}
.modal a button{
  width: 80px;
  height: 28px;
  border: 2px solid #fff;
  background-color: #343564;
  border-radius: 5px;
  font-weight: bold;
  color: #fff; 
  
}
.modal a button:hover{
  cursor: pointer;
  background-color: #fff;
  color: #343564;
  border: 2px solid #343564;
}

@media (max-width: 800px) {
.modal > div {
  width: 90%;
}

.card {
  width: auto;
}

.discentes .card{
  width: 210px;
  height: 260px;
  margin: 20px auto;
}
}

.sobre {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #E0E7EC;
  height: 200px;
}

.sobre p, .sobre h2 {
  color: #000;
}

.titulo-pag {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 75px;
  margin-bottom: 10px;
}

.titulo-pag div {
  border-style: solid;
  border-width: 0 0 4px 0;
  border-color: #192D43;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noticia {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #E0E7EC;
  height: 400px;
  width: 65%;
  border-radius: 3px;
  margin: 20px 0px 0px 0px;
}

.titulo-noticia {
  padding-left: 10px;
  background-color: #BAC5CD;
}

.conteudo-noticia {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px 10px 10px;
  width: auto;
  height: 100%;
}

.conteudo-noticia img {
  width: 200px;
  height: 200px;
}

.texto-noticia {
  color: #000;
  text-align: justify;
  padding: 15px;
  font-size: 15px;
}